// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 Google LLC
 */

/dts-v1/;
#include "mt8196-rauru.dtsi"

/ {
	pp3300_edp_x: regulator-pp3300-edp-x {
		compatible = "regulator-fixed";
		regulator-name = "pp3300_edp_x";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&pio 172 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&edp_pp3300_pins>;
		vin-supply = <&pp3300_z1>;
	};
};

&i2c0 {
	/* synaptics trackpad */
	trackpad@2c  {
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		interrupts-extended = <&pio 8 IRQ_TYPE_LEVEL_LOW>;
		hid-descr-addr = <0x20>;
		vcc-supply = <&mt6373_vcn33_2>;
		wakeup-source;
	};
};

&backlight {
	status = "disabled";
};

&panel {
	compatible = "samsung,atna33xc20";
	enable-gpios = <&pio 216 GPIO_ACTIVE_HIGH>;
	power-supply = <&pp3300_edp_x>;
	/delete-property/ backlight;
};

&mt6373_vcn33_3 {
	status = "disabled";
};

&afe {
	/* Only for ETDM in/out 4 */
	etdm-out-ch = <2>;
	etdm-in-ch = <2>;
	etdm-out-sync = <0>; /* 0: disable; 1: enable */
	etdm-in-sync = <0>; /* 0: disable; 1: enable */
	etdm-ip-mode = <0>; /* 0: One IP multi-channel 1: Multi-IP 2-channel */
	status = "okay";
};

&sound {
	compatible = "mediatek,mt8196-rt5682s-sound";
	model = "mt8196_tas2563_5682";
	mediatek,adsp = <&adsp>;
	/*
	 * TODO: Remove deprecated mediatek,dai-link, use audio-routing and
	 * update UCM config.
	 **/
	mediatek,dai-link = "AFE_SOF_DL_24CH", "AFE_SOF_DL1", "AFE_SOF_UL0",
			"AFE_SOF_UL1", "AFE_SOF_UL2", "HDMI_FE", "I2SIN6_BE",
			"I2SOUT4_BE", "I2SOUT6_BE", "AP_DMIC_BE", "AP_DMIC_CH34_BE",
			"TDM_DPTX_BE";
	status = "okay";

	dai-link-0 {
		link-name = "I2SOUT6_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682s>;
		};
	};

	dai-link-1 {
		link-name = "I2SIN6_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682s>;
		};
	};

	dai-link-2 {
		link-name = "I2SOUT4_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&quad_tas2563>;
		};
	};
};

&pio {
	edp_pp3300_pins: edp-pp3300-default-pins {
		pins-vreg-en {
			pinmux = <PINMUX_GPIO172__FUNC_GPIO172>;
			output-high;
		};
	};
};
