// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 Google LLC
 */

/dts-v1/;
#include "mt8196-rauru.dtsi"

/ {
	model = "Google Rauru board";
	compatible = "google,rauru", "mediatek,mt8196";
};