// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Google Inc.
 */
/dts-v1/;
#include "mt8189-skywalker-tarkin.dtsi"

/ {
	model = "Google Tarkin sku4097/4098/4099 design";
	compatible = "google,tarkin-sku4097", "google,tarkin-sku4098",
		     "google,tarkin-sku4099","google,tarkin",
		     "mediatek,mt8189";
};

&ap_i2c_tchscr {
	status = "disabled";
};
